body, html {
  background-image: url(images/forest.jpg);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn’t tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn’t move when
  the content’s height is greater than the image’s height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
  on the container’s size */
  background-size: cover;
  
  /* Set a background color that will be displayed
  while the background image is loading */
  background-color: #2b2f57;
  }
  .dots-container{
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
  .dots{
    animation: bounce 1.5s infinite linear;
    background: #FFF;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 20px;
  }
  
  .dots:nth-child(1){
    animation-delay: .2s;
  }
  .dots:nth-child(2){
    animation-delay: .4s;
  }
  .dots:nth-child(3){
    animation-delay: .6s;
  }
  .dots:nth-child(4){
    animation-delay: .8s;
  }
  .dots:nth-child(5){
    animation-delay: 1s;
  }
  @keyframes bounce {
      0% {
              transform: translateY(0);
      }
        15% {
          transform: translateY(-15px);
      }
      30% {
          transform: translateY(0);
      }
  }
  